
h1{
	color:white;
	
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;

}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=submit]{
	  width: 30%;
      margin: 8px 8px;
	  resize: none;
      padding: 12px 12px;


	
	
}
input[type=reset]{
	  width: 50%;
	  resize: none;
      padding: 12px 12px;
	
}
